@charset "utf-8";
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/*header begin*/

body {
      background-color: #fff;
}

a {
    opacity: 0.3;
    filter: alpha(opacity: 30);
}
header {
    background-color: #EEE;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 80px;
}

header p:nth-child(1) {
    margin: 5px 0px 0px 100px;
}

header>p>a,header p:nth-child(1) a{
    color: #000;
    font: 16px/30px "微软雅黑";
}
header div {
    width: 85%;
    margin: 5px auto;
}

header div span:nth-child(2) a,header>div>a{
    color: #000;
}
header div span:nth-child(2),header>div a {
    float: right;
}

/*header end*/

/*article begin*/

article {
    padding: 5px 0;
    margin: 80px auto;
    width: 85%;
    background-color: #fff;
}

.box {
    border-bottom: 1px dotted #000;
    width: 95%;
    margin: 0 auto;
}

.box .title {
    float: right;
    margin: 15px 0;
}

.exercise {
    display: block;
    width: 65px;
    font: 14px/65px "宋体";
    color: #fff;
    margin: 6px;
    float: left;
    text-align: center;
    behavior: url(ie-css3.htc);
    border-radius: 50%;
    background-color: #000;
}

#photosDemo a {
    display: block;
    margin: 10px;
    float: left;
}

#photosDemo a img {
    width: 300px;
    height: 250px;
}

.my {
    margin: 0 0 0 20px;
}

.my li {
    margin: 15px 0;
    font: 16px/20px "宋体";
}

.bkgda {
    display: inline-block;
    padding: 3px 10px;
    padding: 2px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}


/*article end*/


/*footer begin*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
}

footer div {
    margin-top: 10px;
    float: right;
    margin-right: 10%;
}


/*footer end*/
