/* CSS Document */
/*480-720px上显示屏样式*/
@media screen and ( max-width:720px){
	.navbar {top:10%; left:25%;}
	.menu {margin:0 15px;
		   float:left;}
	.menu .icon{ font-size:2em;
				 width:80px; height:60px;}
	.menu .button { font-size:1em;
					width:80px; height:30px;
					line-height:30px;}
	.section-wrap .section .title{
		font-size:1.5em;
		letter-spacing:0.2em;}
	.red { font-size:1em;}
	.content {font-size:1.2em;}
	
	.mytet .mytet-1{font-size:0.6em;}
	.mytet-box-1 {top:125%;}
	.mytet-box-2 {top:425%;}
	.mytet-box-3 {top:725%;}
}
@media screen and ( max-width:500px){
	.navbar {top:10%; left:15%;}
	.menu {margin:0 10px;
		   float:left;}
	.menu .icon{ font-size:2em;
				 width:60px; height:40px;}
	.menu .button { font-size:1em;
					width:60px; height:25px;
					line-height:25px;}
	.section-wrap .section .title{
		font-size:1.2em;
		letter-spacing:0.2em;}
	.red { font-size:1em;}
	.content {font-size:1em;}
	
	.mytet .mytet-1{font-size:0.8em;}
	.mytet-box-1 {top:225%;}
	.mytet-box-2 {top:625%;}
	.mytet-box-3 {top:1025%;}
	}