@charset "utf-8";
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/*begin header*/

header {
    width: 100%;
}

.header-top {
    border-bottom: 1px solid #DEDEDE;
}

.header-top ul li {
    float: right;
    margin-right: 10px;
    height: 30px;
}

.header-top ul li a {
    text-align: center;
    margin-top: 5px;
    display: block;
    width: 60px;
    line-height: 18px;
    height: 18px;
    border-right: 1px solid #ccc;
    color: black;
}

.logo {
    float: left;
    width: 300px;
    height: 140px;
}

.logop {
    margin:40px 0 0 0;
    float: right;
    width: 300px;
    height: 140px;
}

.nav {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 1px;
}

.nav ul {
    float: left;
    width: 800px;
    height: 50px;
}

.nav ul li {
    float: left;
    margin-left: 20px;
    line-height: 45px;
    height: 45px;
    width: 120px;
}

.nav ul li a {
    font-family: "微软雅黑";
    color: black;
    font-size: 20px;
}

.nav ul li a:hover {
    color: red;
}

#search {
    float: right;
    width: 320px;
    height: 65px;
    position: relative;
}

#search input {
    text-indent: 2em;
    width: 315px;
    height: 50px;
    background-color: #F3F3F3;
    border-radius: 20px;
}

#search a {
    display: block;
    color: #fff;
    width: 38px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    top: 5px;
    font-size: 25px;
    right: 10px;
    z-index: 1px;
}


/*end header*/


/*begin 中间注册表单*/

article {
    background-color: #F3F3F3;
    padding: 15px 0 60px 0;
}

.main {
    width: 1200px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
}

.main-title {
    line-height: 50px;
    text-indent: 10px;
    height: 60px;
    font-size: 28px;
    color: #D71D1F;
    border-bottom: 1px solid #D71D1F;
}

.register {
    width: 800px;
    height: 890px;
    float: left;
}

.main-aside {
    width: 400px;
    height: 400px;
    float: right;
}

#register {
    width: 688px;
}

.registerblock {
    border-bottom: 1px dotted #ccc;
    line-height: 40px;
    padding: 1px 0 30px 0;
}

.registertitle {
    font-size: 18px;
    color: #DA393A;
}

.labelprefix {
    display: inline-block;
    width: 100px;
    text-align: right;
    text-indent: 5px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    margin-top: 22px;
}

.inputtext {
    width: 300px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #B6B6B6;
}

.registerprompt {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    color: #B6B6B6;
    line-height: 14px;
    height: 14px;
    width: 260px;
}

.submitBtn {
    width: 300px;
    height: 46px;
    font-size: 24px;
    line-height: 46px;
    height: 46px;
    color: #fff;
    margin: 0 0 0 103px;
    background-color: #D71D1F;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #801617;
}


/*end 中间注册表单*/


/*begin footer*/
footer {
    border-top:1px solid #DEDEDE;
}

.footerlink {
    border-right: 1px solid #ccc;
    margin-top: 40px;
    width: 599px;
    height: 140px;
    float: left;
}

.company1>li {
    float: left;
    font-size: 16px;
    width: 65px;
    height: 30px;
    line-height: 30px;
    margin: 0 70px 0 10px;
}

.company1>li a {
    color: #484848;
}

.company2 li {
    float: none;
    line-height: 30px;
    height: 30px;
    color: #7F7F7F;
    list-style-type: disc !important;
}

.company2 li a {
    color: #CACACA;
}

.footerphone {
    margin-top: 40px;
    width: 599px;
    float: right;
}

.footerphone .phone {
    text-align: center;
    float: left;
    margin-left: 60px;
}

.footerphone .phone h3 {
    font-size: 18px;
    line-height: 30px;
    height: 30px;
}

.footerphone .phone p {
    font-size: 24px;
    line-height: 60px;
    height: 60px;
    color: #D71D1F;
}

.footerphone .phone ul li {
    float: left;
    width: 50px;
}

.footerphone .download {
    float: right;
}

.footerphone .download div {
    float: left;
    margin-left: 10px;
    text-align: center;
}

.footerphone .download div p {
    line-height: 28px;
    height: 28px;
}

.friendshiplink {
    width: 1200px;
    margin-top: 45px;

    border-bottom: 1px solid #ccc;
}

.friendshiplink ul li {
    float: left;
    margin-left: 35px;
    margin-bottom: 4px;
}

.friendshiplink ul li a {
    color: #7F7F7F;
}
.more{
    display: block;
    border:1px solid #C1C1C1;
    background-color: #F3F3F3;
}