@charset "utf-8";
#article {
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}

#article .section1 {
    width: 850px;
    margin: 20px auto;
    padding: 5px;
    border: 3px solid #986C43;
}

#article .section1 .mycard {
    width: 250px;
    height: 240px;
    background: url(../img/ren.png) no-repeat;
    float: left;
}

#article .section1 .mycontent {
    width: 560px;
    float: left;
}

#article .section1 .mycontent p {
    font: 14px/20px "宋体";
    text-indent: 2em;
    margin-top: 10px;
}

#article .section2 {
    width: 960px;
    margin: 20px auto;
    padding: 5px;
    border: 3px solid #694930;
}

#article .section2 h1 {
    text-align: center;
    font: 26px/36px "宋体";
}

#article .section2 div {
    float: left;
    width: 430px;
    margin: 20px;
    height: 330px;
    border: 1px solid #694930;
    box-shadow: 2px 2px 1px #694930;
}

#article .section2 div span {
    font: bold 14px/20px "宋体";
    display: inline-block;
    margin: 5px 0 0 20px;
}

#article .section2 div ul {
    list-style: none;
    margin-top: 10px;
}

#article .section2 div ul li {
    line-height: 32px;
    height: 32px;
}

#article .section2 div ul li a {
    font: bold 14px/20px "宋体";
    color: #694930;
    display: inline-block;
    text-indent: 3em;
}

#article .section2 div ul li a:hover {
    text-decoration: underline;
}

#article .section2 div ul li:nth-last-child(1) a {
    font: bold 14px/20px "宋体";
    color: #694930;
    display: block;
    float: right;
    margin-right: 40px;
}

#menu {
    position: fixed;
    top: 50%;
    margin-top: -40px;
    left: 0;
}

#menu>a {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(../img/menu.png);
}

#menu .contact {
    display: block;
    margin-left: 10px;
    width: 53px;
    height: 50px;
    background-image: url(../img/contact.png);
}

.Mongolia {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(44, 29, 24, 0.5);
}

#contactBox {
    width: 500px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    background-color: red;
    background: url(../img/bg.jpg) repeat;
    padding: 10px;
}

.contactBoxTop {
    font: bold 18px/28px "宋体";
    margin-left: 10px;
    text-indent: 1em;
}

#closeBtn {
    display: block;
    float: right;
    margin: 5px 10px 0 0;
}

#contactBox p {
    font: 16px/28px "宋体";
    margin: 10px 0 0 20px;
    text-indent: 2em;
}
