@charset "utf-8";
#article {
    width: 960px;
    margin: 0 auto;
    color: #CC3300;
}


/*轮播图banner begin*/

.banner {
    position: relative;
    width: 960px;
    height: 405px;
    overflow: hidden;
}

.bannerDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 400px;
    font-size: 0px;
}

.bannerDiv li {
    float: left;
    font: 14px/18px "宋体";
}


/*轮播图banner end*/


/*心脏跳动 begin*/

.heart {
    margin-top: 40px;
    animation: 0.8s pound infinite normal;
}

@keyframes pound {
    form {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
@-webkit-keyframes pound {
    form {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}


/*心脏的跳动 end*/


/*块的边线变化 begin*/

.lineChange {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

.lineChange:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg)
}

.line {
    display: block;
    position: absolute;
    background: none;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.lineChange:hover .line {
    background-color: #fff;
}

.lineChange:hover .line-top {
    left: 0;
}

.lineChange:hover .line-right {
    top: 0;
}

.lineChange:hover .line-bottom {
    right: 0;
}

.lineChange:hover .line-left {
    bottom: 0;
}

.line-top {
    height: 2px;
    width: 100%;
    left: -110%;
    top: -2px;
}

.line-right {
    height: 100%;
    width: 2px;
    right: -2px;
    top: -110%;
}

.line-bottom {
    height: 2px;
    width: 100%;
    right: -110%;
    bottom: -2px;
}

.line-left {
    height: 100%;
    width: 2px;
    left: -2px;
    bottom: -110%;
}

.lineChange div p {
    font: 16px/24px "宋体";
    color: #fff;
    border: 1px solid #ccc;
}


/*块的边框动画 end*/


/*背景图的banner begin*/

.bgBanner {
    width: 960px;
    height: 395px;
    background: url(../img/banner.png) center;
}


/*没做先留着*/


/*旋转的动画css3*/

.animation1 {
    width: 10em;
    padding: .6em 1em;
    margin: 5em auto;
    background: #ccc;
    animation: 1s spin linear infinite;
    -webkit-animation: 1s spin linear infinite;
    animation-play-state: paused;
    /*停止时留在当时的位置*/
    -webkit-animation-play-state: paused;
}

@keyframes spin {
    form {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    form {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animation1:hover {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

.animation2 {
    position: fixed;
    width: 40px;
    height: 30px;
    bottom: 30px;
    right: 20px;
    color: #fff;
    border-radius: 50%;
    padding: .6em 1em;
    margin: 5em auto;
    animation: 3s run linear infinite;
    -webkit-animation: 3s run linear infinite;
}

@keyframes run {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 80px;
    }
    100% {
        bottom: 30px;
    }
}

@-webkit-keyframes run {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 80px;
    }
    100% {
        bottom: 30px;
    }
}
.sideTop {
	display: block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
